body {
    background: #D3D3D3;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry-group {
    display: block;
    width: 70%;
    max-width: 1024px;
    background: #fff;
    height: 631px;
    margin: 10px;
    overflow: hidden;
}

.entry-group img {
    width: 100%;
    display: block;
}

.entry-group p {
    padding: 10px;
}